@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  font-family: Poiret One;
}
.container {
    background-color: rgb(179, 235, 218);    
    font-family: Poiret One;
    padding: 20px;
    display: inline-block;
}
p {
  position: fixed;
  bottom: 0%;
  right: 2%;
  padding: 20px;
  display: inline-block;
}
p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
  padding: 20px;
  display: inline-block;
}
